<footer class="footer bg-dark py-3 mt-auto ">
    <div class="container">
      <span class="text-muted">&copy; EasyAd 2022 </span>
      <p class="text-muted">by Abdulsalam & Abdulqader & Hani </p>
    </div>
  </footer>
  