<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark  ">
  <div class="container-fluid ">
  
    <a class="navbar-brand" href="/">EasyAd</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/social-media">Social Media</a>
        <a class="nav-link" href="/influencer">Influencer</a>
        <div class="ms-auto">
        <a class="nav-link" href="/help">Help</a>
        </div>
      </div>
    </div>
  </div>
</nav>