<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark   ">
  <div class="container-fluid ">
  
    <a style="font-size: 2rem;" class="navbar-brand text-danger" href="/">EasyAd</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/social-media">Social Media</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Influencer
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/influencer">Influencers</a></li>
            <li><a class="dropdown-item" href="/influencer/ads">Advertisments</a></li>
          </ul>
        </li>
        
      </div>
    </div>
  </div>
</nav>