<% layout('layouts/boilerplate') %>

<h1 style="font-size: 15rem; text-align: center; padding: 70px 0; ">EasyAD</h1> 
<p style="font-size: 3rem; text-align: center;  ">make your advertising experience easier!</p>
