<% layout('layouts/boilerplate') %>
<div class="bg-dark px-auto">


    <h1 class="text-danger shadow-lg" style="font-size: 18rem; text-align: center; padding: 70px 50px; ">EasyAD</h1> 
    <p  class="text-light" style="font-size: 3rem; text-align: center; padding: 20px 50px; ">make your advertising experience easier!</p>
</div>
