<% layout('layouts/boilerplate') %>
<h1 class="text-center text-danger " style="font-size: 8rem; text-align: center; padding: 70px 50px; ">Sorry Page Not Found</h1> 
<div class="d-grid gap-2">
<a href="/" class="btn btn-outline-secondary  btn-lg">Home Page</a>
</div>